/*-- Shipping Form --*/

/*-- Checkout Cart Total --*/

/*-- Checkout Payment Method --*/

/*-- Single Payment Method --*/

/*-- Place Order --*/

.single-product-content-container {
  background-color: #fff;
  box-shadow: 0 1px 4px 0;
  padding: 50px 30px;
}

.checkout-form {
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
  }

  .nice-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    height: 45px;
    color: #666666;
    margin-bottom: 15px;

    &::after {
      width: 6px;
      height: 6px;
      border-width: 1px;
      right: 20px;
      border-color: #666666;
    }

    .current {
      color: #666666;
      display: block;
      line-height: 23px;
    }

    .list {
      width: 100%;
    }
  }

  input {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
  }

  input[type="checkbox"] {
    width: auto;
  }

  .check-box {
    float: left;
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }

    input[type="checkbox"] {
      display: none;

      + {
        label {
          position: relative;
          padding-left: 30px;
          line-height: 20px;
          font-size: 14px;
          font-weight: 400;
          color: #222;
          margin: 0;

          &::before {
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            display: block;
            border: 2px solid #999;
            content: "";
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
          }

          &::after {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            content: "";
            font-family: Fontawesome;
            font-size: 12px;
            line-height: 20px;
            opacity: 0;
            color: #222;
            width: 20px;
            text-align: center;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
          }
        }
      }

      &:checked {
        + {
          label {
            &::before {
              border: 2px solid #222;
            }

            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

#shipping-form {
  display: none;
}

.checkout-cart-total {
  background-color: #ddd;
  padding: 45px;

  h4 {
    -ms-flex-preferred-size: 18px;
    flex-basis: 18px;
    line-height: 23px;
    font-weight: 700;

    &:first-child {
      margin-top: 0;
      margin-bottom: 25px;
    }

    &:last-child {
      margin-top: 15px;
      margin-bottom: 0;
    }

    span {
      float: right;
      display: block;
    }
  }

  ul {
    border-bottom: 1px solid #999;

    li {
      color: #666666;
      font-size: 14px;
      line-height: 23px;
      font-weight: 500;
      display: block;
      margin-bottom: 16px;

      span {
        color: #222;
        float: right;
      }
    }
  }

  p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #505050;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    margin: 0;

    span {
      float: right;
    }
  }
}

.checkout-payment-method {
  background-color: #ddd;
  padding: 45px;
}

.single-method {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  input[type="radio"] {
    display: none;
    + {
      label {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #222;
        margin: 0;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid #999;
          content: "";
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }

        &::after {
          position: absolute;
          left: 5px;
          top: 5px;
          display: block;
          content: "";
          opacity: 0;
          background-color: #222;
          width: 10px;
          text-align: center;
          height: 10px;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }
      }
    }

    &:checked {
      + {
        label {
          &::before {
            border: 2px solid #222;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  input[type="checkbox"] {
    display: none;

    + {
      label {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        margin: 0;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          display: block;
          border: 2px solid #999;
          content: "";
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }

        &::after {
          position: absolute;
          left: 4px;
          top: 4px;
          display: block;
          content: "";
          opacity: 0;
          background-color: #222;
          width: 8px;
          text-align: center;
          height: 8px;
          -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
        }
      }
    }

    &:checked {
      + {
        label {
          &::before {
            border: 2px solid #222;
          }

          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  p {
    display: none;
    margin-top: 8px;
    font-size: 14px;
    color: #666666;
    line-height: 23px;
  }
}

.place-order {
  margin-top: 40px;
  width: 170px;
  border-radius: 50px;
  height: 36px;
  border: none;
  line-height: 24px;
  padding: 6px 20px;
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #80bb01;

  &:hover {
    background-color: #5d8801;
  }
}
@media only screen and (max-width: 575px) {
  .checkout-cart-total {
    padding: 30px;
  }

  .checkout-payment-method {
    padding: 30px;
  }
}
