.product_detail {
  margin: 30px 30px 30px 30px;
  padding: 30px 30px 30px 30px;
}

.btn-submit {
  text-align: center;

  input {
    margin-top: 20px;
    width: 200px;
  }
}

.image {
  height: 200px;
  margin-left: 20px;
}

#image1 {
  height: 100%;
  width: 100%;
}

#image2 {
  height: 100%;
  width: 100%;
}
